@use '../../scss/abstracts' as *;

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100dvh;
  min-width: 100dvw;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #31363a 0%, #13171a 100%);

  @media(width <= 500px) {
    max-width: 90%;
  }


  &::after {
    position: absolute;
    content: '';
    min-width: 100dvw;
    width: 100dvw;
    height: 80%;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("/images/authPage/bg-decor.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;

    @media(width >= 1200px) {
      height: 85%;
      width: 100%;
      background-size: cover;
    }
  }
}

.container {
  overflow-x: hidden;
  margin: 0 auto;
  padding-inline: 16px;
}

.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  z-index: 100;
}

.subtitle {
  text-align: center;
  max-width: 380px;
  font-weight: 500;
  font-size: 14px;
  color: #888;

  @media(width <= 500px) {
    max-width: 300px;
  }
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  @media(width <= 500px) {
    max-width: 90%;
    width: 90%;
  }


  input {
    width: 423px;
    height: 47px;
    padding-left: 22px;
    background-color: transparent;
    border: 1.50px solid var(--color-text-gray);
    border-radius: var(--radius);
    color: var(--color-text-gray);
    transition: border-color, outline-color .3s ease;
    cursor: pointer;

    @media(width <= 500px) {
      margin-inline: auto;
      width: 300px;
      min-width: 100%;
    }

    &:hover:not(:focus) {
      box-shadow:
        0 0 20px rgba(254, 147, 21, 0.7),
        0 0 40px rgba(254, 147, 21, 0.4);
      transition: all 0.2s ease;
    }

    &:focus {
      box-shadow:
        0 0 30px rgba(254, 147, 21, 0.9),
        0 0 60px rgba(254, 147, 21, 0.6),
        0 0 90px rgba(254, 147, 21, 0.3);
      transform: scale(1.01);
    }


  }
}
.formButtons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  place-content: space-between;
  gap: 20px;
}

.formGroup {
  position: relative;

  .label {
    padding-inline: 5px;
    z-index: 2;
    position: absolute;
    left: 5%;
    top: 0;
    background: #262c2d;
    font-weight: 500;
    font-size: 14px;
    color: #fe9315;
    transform: translateY(-50%);
    cursor: pointer;
    will-change: transform;
  }

}


.submitBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  width: 100%;
  padding-block: 14px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  background: linear-gradient(65deg, #ffa114 0%, #f6421a 100%);
  border-radius: var(--radius);
  cursor: pointer;
  backdrop-filter: blur(4px);
  transition: transform 0.4s ease, box-shadow 0.4s ease;

  @include hover {
    scale: 1.05;
    box-shadow: 0 0 20px rgba(255, 161, 20, 0.6),
    0 0 40px rgba(246, 66, 26, 0.4),
    0 0 60px rgba(255, 161, 20, 0.3);
  }

}

.googleBtn {
  min-width: 100px;
  max-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding-block: 14px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  background: linear-gradient(65deg, #ffa114 0%, #f6421a 100%);
  backdrop-filter: blur(4px);
  border-radius: var(--radius);
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.4s ease;

  @include hover {
    scale: 1.05;
    box-shadow: 0 0 20px rgba(255, 161, 20, 0.6),
    0 0 40px rgba(246, 66, 26, 0.4),
    0 0 60px rgba(255, 161, 20, 0.3);
  }
}

.errorMessage {
  margin: 0;
  color: red;
  font-size: 12px;
}
