@use "./media" as m;
@use "./functions" as fn;

:root {

  // colors bg
  --color-bg-main: #13171a;
  --color-bg-gray: linear-gradient(180deg, #31363a 0%, #13171a 100%);
  --color-bg-dark: linear-gradient(186deg, #212429 0%, rgba(108, 112, 118, 0) 100%);


  // colors
  --color-title: #f3f3f3;
  --color-subtitle: #d4d7dc;
  --color-light: #FFFFFF;


  --color-text-light: #E1E1E1;
  --color-text-gray: #c4c4c4;


  --color-orange: #ffa114;
//  --color-accent: #FFD11A;


  --radius: 10px;

  // typography

  --font-family-base: var(--font-roboto), sans-serif;
  //  --font-family-accent: 'Kumbh Sans, sans-serif';

  --container-width: #{fn.rem(1200)};
  --container-padding-x: #{fn.rem(16)};

  @include m.laptop {
    --container-width: #{fn.rem(1280)};
  }

  --transition-duration: 0.2s;
}